@tailwind base;
@tailwind components;
@tailwind utilities;


.txt {
    background-image: url(/d.png);
    -webkit-background-clip: text;
    background-size: contain;
    -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: darkred;
  border-radius: 10px; 
}

::-webkit-scrollbar-track {
  background-color: #ffcccc; 
}


* {
  scrollbar-width: thin; 
  scrollbar-color: #800a0a #471a1a; 
}